body {
  display: flex;
  justify-content: center;
  background-color: gray;
}

* {
  text-align: center;
  color: #fff;
}

#section {
  width: 80vw;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 20px;
  border-radius: 15px;
  background-color: #290f2e;
}

h1 {
  color: gold;
  margin: 0px 0px 20px 0px;
}

p {
  color: #fff;
  margin: 0px 0px 10px 0px;
}

#inside {
  width: 90%;
  height: fit-content;

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #521a5b;

  gap: 20px;
}

.inputs {
  display: flex;
  max-width: 500px;
  width: 100%;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
}

#quadrado {
  width: 200px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background: linear-gradient(
    180deg,
    rgba(65, 83, 232, 1) 0%,
    rgba(0, 249, 188, 1)
  );

  border: 10px solid darkblue;
  border-radius: 10px;
}

#quadradoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: 800px) {
    gap: 10px;
    flex-direction: column;
  }
}

#subTitle {
  margin: 10px 0px 0px 0px;
  color: #fff;
}

.voltar {
  width: 100px;
  height: 35px;

  color: #fff;
  background-color: #000;

  margin: 0px 0px 10px 0px;
}
